<body>
  <% flash.each do |message_type, message| %>
  <%= message %>
<% end %>

  <h1>Books</h1>

<!--表-->
  <table>

    <thead>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </thead>

    <tbody>
      <% @book.each do |book| %>
      <td><%= link_to book.title, book_path(book) %></td>
      <td><%= link_to book.body, book_path(book) %></td>
      <td><span><%= link_to "Show", book_path(book) %></span><span><%= link_to "Edit", edit_book_path(book) %></span> <span><%= link_to "Destroy", destroy_book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %></span></td>
      <% end %>
    </tbody>

  </table>

<!--投稿フォーム-->
  <div class="form-area">
    <h2>New Book</h2>

    <%= form_with model:@book, url:"/books", local:true do |f| %>
      <h4>Title</h4>
      <%= f.text_field :title %>

      <h4>Body</h4>
      <%= f.text_area :body %>

      <%= f.submit "Create Book" %>

    <% end %>
  </div>

</body>